.navbar-drop {
  justify-content: space-between;
  background: #5083b7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.toolbar-drop {
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
}


.navbar-drop .navbar-collapse {
  flex-grow: 0;
}

.navbar-drop .navbar-brand img {
  width: 40px;
}
